In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_json('final_data.json')

In [5]:
df.head()

,author,book_title,ratings,genre
0,Jane Austen,\n Pride and Prejudice\n,4.26,Classics
1,George Orwell,\n 1984\n,4.19,Classics
2,Fyodor Dostoyevsky,\n Crime and Punishment\n,4.22,Classics
3,William Shakespeare,\n Hamlet\n,4.02,Classics
4,Gabriel García Márquez,\n One Hundred Years of Solitude\n,4.08,Fiction

In [7]:
df['book_title'] = df['book_title'].apply(lambda x: x.strip())
df.head()

                   author                     book_title  ratings     genre
0             Jane Austen            Pride and Prejudice     4.26  Classics
1           George Orwell                           1984     4.19  Classics
2      Fyodor Dostoyevsky           Crime and Punishment     4.22  Classics
3     William Shakespeare                         Hamlet     4.02  Classics
4  Gabriel García Márquez  One Hundred Years of Solitude     4.08   Fiction

In [8]:
df.to_json('cleaned.json')

In [9]:
df.head()

                   author                     book_title  ratings     genre
0             Jane Austen            Pride and Prejudice     4.26  Classics
1           George Orwell                           1984     4.19  Classics
2      Fyodor Dostoyevsky           Crime and Punishment     4.22  Classics
3     William Shakespeare                         Hamlet     4.02  Classics
4  Gabriel García Márquez  One Hundred Years of Solitude     4.08   Fiction

In [24]:
def recommender(genre):
    '''
    Recomment top rated book from same genre.
    If only single book from that genre -> return randomly from alltime top10
    
    '''
    
    top = df[df['genre'] == genre].sort_values(by='ratings', ascending=False)
    if top.shape[0] > 1:
        return dict(top.iloc[0])
    else:
        return dict(df.sort_values(by='ratings', ascending=False).iloc[:10].sample(1).squeeze())

In [15]:
df['genre'].value_counts()

Classics         58
Fiction          29
Poetry            6
Plays             2
Short Stories     1
Philosophy        1
Religion          1
Cultural          1
Historical        1
Name: genre, dtype: int64

In [25]:
recommender('Classics')

{'author': 'Edgar Allan Poe',
 'book_title': 'The Collected Tales of Edgar Allan Poe',
 'ratings': 4.34,
 'genre': 'Classics'}

In [26]:
recommender('Religion')

{'author': 'Fernando Pessoa',
 'book_title': 'The Book of Disquiet',
 'ratings': 4.44,
 'genre': 'Fiction'}

In [20]:
df.sort_values(by='ratings', ascending=False).iloc[:10]

,author,book_title,ratings,genre
88,João Guimarães Rosa,Grande Sertão: Veredas,4.57,Fiction
83,Rumi,مثنوی معنوی,4.46,Poetry
16,Jorge Luis Borges,Ficciones,4.44,Fiction
22,Fernando Pessoa,The Book of Disquiet,4.44,Fiction
97,Giacomo Leopardi,The Poems Of Leopardi,4.37,Poetry
59,Anton Chekhov,Selected Stories of Anton Chekhov,4.36,Short Stories
98,Paul Celan,Poems of Paul Celan,4.36,Poetry
63,Franz Kafka,The Complete Stories,4.35,Fiction
43,Edgar Allan Poe,The Collected Tales of Edgar Allan Poe,4.34,Classics
93,Saadi,The Orchard: The Bostan Of Saadi Of Shiraz,4.34,Poetry

In [37]:
something = df.sample(6)

In [39]:
[dict(something.iloc[i]) for i in range(6)]

[{'author': 'Anonymous',
  'book_title': 'Mahabharata',
  'ratings': 4.29,
  'genre': 'Classics'},
 {'author': 'D.H. Lawrence',
  'book_title': 'Sons and Lovers',
  'ratings': 3.63,
  'genre': 'Classics'},
 {'author': 'George Eliot',
  'book_title': 'Middlemarch',
  'ratings': 3.97,
  'genre': 'Classics'},
 {'author': 'Federico García Lorca',
  'book_title': 'Romancero gitano',
  'ratings': 4.18,
  'genre': 'Poetry'},
 {'author': 'Thomas Mann',
  'book_title': 'Buddenbrooks: The Decline of a Family',
  'ratings': 4.16,
  'genre': 'Classics'},
 {'author': 'Albert Camus',
  'book_title': 'The Stranger',
  'ratings': 3.99,
  'genre': 'Classics'}]